---
layout: default
---

{{ content }}


<section class="padded grid">

    {% if page.header-intro == true %}

    <div class="col-12 center padded-1">
        <h2> {{ page.category | capitalize }} posts </h2>
        <p> {{ page.description }} </p>
    </div>

    {% endif %}

    {% for post in site.categories[page.category] %}

        {% if page.post-style == normal %}

            {% include post-loop-item-square.html %}

        {% else %}

            {% include post-loop-item-small.html %}
        
        {% endif %}

    {% endfor %}
</section>